<div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
  <a class="" href="{{ .Permalink }}">
    {{ with .Params.image }}
    <div class="mdl-card__media">
      <img class="card-image" src="{{ . }}" border="0">
    </div>
    {{ end }}
  </a>
  <div class="mdl-card__title">
    <a class="mdl-card__title-text" href="{{ .Permalink }}">{{ .Title }}</a>
  </div>
    <aside class="meta">
      {{ if .Draft }}
      <strong>下書き</strong>
      {{ end }}
      <time>{{ .Date }}</time>
      {{- if .Params.categories -}}
      <ul class="category-list" title="categories">
        {{ range .Params.categories }}<li><a href="/categories/{{.|urlize}}">{{ . }}</a></li>{{ end }}
      </ul>
      {{- end -}}
      {{- if .Params.tags -}}
      <ul class="tag-list" title="tags">
        {{ range .Params.tags }}<li><a href="/tags/{{.|urlize}}">{{ . }}</a></li>{{ end }}
      </ul>
      {{- end -}}
    </aside>
  <div class="mdl-card__supporting-text">
    {{ .Summary }}
  </div>
  {{ if .Truncated }}
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ .Permalink }}">Read more</a>
  </div>
  {{ end }}
</div>
