      </div>
    </main>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">{{ .Site.Title }}</div>
      </div>
      <div class="mdl-mini-footer__right-section">
        <small>{{ with .Site.Copyright }}{{ . | safeHTML }}{{ else }}&copy; {{ .Now.Format "2006"}}. All rights reserved.{{end}}</small>
        <address>{{ .Site.Params.author }} &lt;{{ .Site.Params.email }}&gt;</address>
      </div>
    </footer>
  </div>
</body>
</html>
